{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'website/detail.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class='modal-header'>
            <h5 class="modal-title" id="productModalLabel">{{item.name}}</h5> 
        </div>
        <div class='modal-body'>
            <p class='item-price'>${{ item.price }}<p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class='flavorList-container'>
                {% for flavor in item.flavors%}
                    {% for key, value in flavor.items %}
                        {% if value == True %}
                            <div class='flavor-container'>
                                <p class='flavor'>{{key}}</p>
                            </div>        
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>